/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/10/2015, 8:54:17 AM
    Author     : david
*/
body{
    /*background-image: url("/FitnessStats/javax.faces.resource/images/background-wood-and-weights.jpg") !important;*/
    background-image:none !important;
    background-color: white;
}

/*div.ui-carousel-viewport .myStatsCarousel div.ui-carousel-viewport .myStatsCarousel{
  width:100% !important;
height: 300px !important; 

    
}*/

.choosePlanDialogue{
    max-width: 300px;
    
}

.dialoguePhoto {


}

.expenseImagePanel {

}
.expensesPhoto{

}

.selectOneButton .ui-button-text  {
    padding: 20px 22px 8px 20px !important;
}


.galleriaFrame  {
    width: 100% !important;
}

.ui-galleria  {
    content: " ";
    display: block;  
    width: 100%  !important; 
}

.ui-galleria-panel-wrapper  { /*Container of panels.*/
    width:100%  !important;
    text-align:center !important;
}
.ui-galleria-panel { /* Container of each image.*/
    width: 100%;
    padding-bottom: 56.25%;   /* padding-top: 56.25%; /* for a final 16:9 aspect ratio: 9 / 16 * 100 = padding-top: 56.25%; */
    text-align:center !important;
    /* display: block;*/
    max-width: 100%;
    position: absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}
.galleriaImage {
    /* position: absolute;
     top: 0; bottom: 0; left: 0; right: 0;*/

}
.galleriaImageButton{
    float:left;
    position: absolute;
    /*top: 0; bottom: 0; left: 0; right: 0;*/
}
.galleriaEditButton{
    float:left;
    position: absolute;
    right: 20px;
}
.surveyInput {
    width:95%;
    padding-bottom: 20px;
}

/*.myStatsCarouselItem .ui-carousel-item {
height: 300px !important; 
 
    
} */

@media all and (max-width: 599px) and (min-width: 320px) {
    div#layout-portlets-cover {
        width:100% !important;
        margin:0 !important;
    }

    #SurveyanswersListForm\:surveyList_list {
        padding:10px !important;

    }

    .ui-datalist-item > table {
        width:100% !important;
    }

.choosePlanDialogue{
    max-width: 300px;
    
}

    .selectOneWidth {
        min-width:100px; 
        max-width:220px;
    }

    /*file upload component*/
    .ui-fileupload-files td{
        display: inline-block;
    }

    .ui-fileupload-buttonbar .ui-button{
        padding: 5px 5px 5px 20px !important
    }
    .ui-fileupload-buttonbar {
        padding: 0.1 !important
    }

    .ui-fileupload-buttonbar .ui-button .ui-button-text {
        /* display: none;*/
    }

    .ui-fileupload-buttonbar .ui-button .ui-icon{
        margin-left: 20px !important;
    }




    .timetableSchedule  {
        font-size: 10px;
        height: 800px;
    }
    .timetableSchedule .fc-content {
        padding: 1px !important;
    }
    .fc-day-grid-event > .fc-content {
        white-space: normal;
    }
    #schedule3container {
        height: 800px;
    }



    .bookingFormUpdate {
        font-size: 12px;  
    }
    .fc-day-grid-event > .fc-content {
        white-space: normal;
    }
    .timetableGmap {
        height: 300px;
        width: 100% !important ;

    }
    .galleriaFrame  {
        width: 100% !important;
        height:300px !important;
    }

    .ui-galleria  {
        content: " ";
        display: block;  
        width: 100%  !important; 
        height:300px !important;
    }

    .ui-galleria-panel-wrapper  { /*Container of panels.*/
        width:100%  !important;
        height:300px !important;
        text-align:center !important;
    }
    .ui-galleria-panel { /* Container of each image.*/
        width:100%  !important;
        height:300px !important;
        /*padding-top: 56.25%; */  /* padding-top: 56.25%; /* for a final 16:9 aspect ratio: 9 / 16 * 100 = padding-top: 56.25%; */
        text-align:center !important;
        /* display: block;*/
        /* max-width: 100%;
         position: absolute;
         bottom:0;
         left:50%;
         transform:translateX(-50%);*/
    }
    .ui-galleria-panel img {
        width: 100% !important ;
    }

}
@media all and (max-width: 1200px) and (min-width: 600px) {
    .timetableSchedule  {
        font-size: 12px;
        height: 890px;
    }
    #schedule3container {
        height: 900px;
    }

    .bookingFormUpdate {
        font-size: 12px;  
    }
    .fc-day-grid-event > .fc-content {
        white-space: normal;
    }
    .timetableGmap {
        height: 400px;
        width: 100% !important ;

    }
    .selectOneWidth {
        min-width:200px; 
        width:220px;
    }
    .ui-datalist-item > table {
        width:100% !important;
    }


}
@media all and  (min-width: 1201px) {
    .timetableSchedule  {
        font-size: 14px;
        height: 800px;
    }
    #schedule3container {
        height: 900px;
    }

    .bookingFormUpdate {
        font-size: 12px;  
    }
    .fc-day-grid-event > .fc-content {
        white-space: normal;
    }
    .timetableGmap {
        height: 500px;
        width: 100% !important ;

    }
    .selectOneWidth {
        min-width:200px; 
        width:220px;
    }


}

.greenBg {
    background-color: green !important ;
    cursor: pointer;
}
.blueBg {
    background-color: blue !important ;
    cursor: pointer;
}
.orangeBg {
    background-color: orange !important ;
    cursor: pointer;
}
.redBg {
    background-color: red !important ;
    cursor: pointer;
}
/* http://www.colorschemer.com/schemes/viewscheme.php?id=8293 southbeach pastel theme for timetable */
.pastel1 {
    background-color: #389090 !important ;
    cursor: pointer;
}
.pastel2 {
    background-color: #F47E7D !important ;
    cursor: pointer;
}
.pastel3 {
    background-color: #B5D045 !important ;
    cursor: pointer;
}
.pastel4 {
    background-color: #FB8335 !important ;
    cursor: pointer;
}
.pastel5 {
    background-color: #81C0C5 !important ;
    cursor: pointer;
}
.pastel6 {
    background-color: #E0C7A8!important ;
    cursor: pointer;
}

.signupForm {
    text-align: right;
    padding-right: 10px;
}  
.signupForm.signupFormLabel  {
    text-align: left;
} 



.cancellationDialogue{
    max-width: 400px;
}

.timetableGmap{
    width:80%; 
    max-width: 600px;
}
.timetableDataTable .ui-datatable .ui-datatable-header {
    background-color: #33AFDE !important;
    border-bottom: solid 1px #C6D6DF;
    border-top: solid 1px #C6D6DF;
    color: #FFFFFF;


}
div.timetableDataTable .ui-datatable table tbody .ui-state-highlight > td {
    background-color: #FFFFFF;
    color: #F1F6F9;
}
.myStatsChartsDatalist {
    border:none;
}

.social-icons span a {
    display: block;
    float:left;
    width: 37px;
    height: 37px;
    background: url(/FitnessStats/resources/images/FB-f-Logo__blue_50.png) 0 0 no-repeat;
}


.MarRL5 {
    margin-right: 5px;
    margin-left: 5px;
}
.MarRight5 {
    margin-right:  5px;
}
.MarRight10 {
    margin-right:  10px;
}
.MarRight15 {
    margin-right:  15px;
}
.TimetableTile{
    max-width:550px;
    min-width:100px !important ;
    min-height: 100% !important ;
}

#timetableDivider {

    background: #ff7295; /* Old browsers */
    background: -moz-linear-gradient(240deg, #ff7295 0%, #fe875d 100%);
    background: -webkit-linear-gradient(240deg, #ff7295 0%,#fe875d 100%);
    background: linear-gradient(240deg, #ff7295 0%,#fe875d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ff7295}', endColorstr='#{fe875d}',GradientType=1 );
}
.iFrameContainer {
    content:"";
    display:table;
    clear:both; 
    background-image:none;
    background-color: #ffffff;
    width: 97%;
    padding: 1% 1.5%;
    margin: 8px auto;
    overflow: hidden;
    float: left;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
    -moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
    box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);

}

.Width300{
    width: 300px;
}

.chartClassTall{
    height:400px;
}
.updatePaymentForms {
    white-space: normal; 
}

.updatePaymentInfo {
    white-space: normal;
}

.img-circular{
    width: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.img-circular:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.listtab-profile{
    width:50px;
}


/* Font Type */
.FontBold{ font-weight:bold;}
.FontLight{ font-weight:lighter;}
.FontNormal{ font-weight:normal;}

/* Text Aligns */
.TexAlCenter{ text-align:center;}
.TexAlLeft{ text-align:left;}
.TexAlRight{ text-align:right !important;}


/* Empty Boxes */
.EmptyBox5{ display:block; width:100%; height:5px; overflow:hidden;}
.EmptyBox10{ display:block; width:100%; height:10px; overflow:hidden;}
.EmptyBox20{ display:block; width:100%; height:20px; overflow:hidden;}
.EmptyBox30{ display:block; width:100%; height:30px; overflow:hidden;}
.EmptyBox40{ display:block; width:100%; height:40px; overflow:hidden;}
.EmptyBox50{ display:block; width:100%; height:50px; overflow:hidden;}
.EmptyBox60{ display:block; width:100%; height:60px; overflow:hidden;}
.EmptyBox70{ display:block; width:100%; height:70px; overflow:hidden;}
.EmptyBox80{ display:block; width:100%; height:80px; overflow:hidden;}
.EmptyBox90{ display:block; width:100%; height:90px; overflow:hidden;}
.EmptyBox100{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox110{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox120{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox130{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox140{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox150{ display: block; width: 100%; height:150px; overflow:hidden;}


/* hover effect for boxlink and links */
.HoverEffect:hover{border: solid 1px #D0525D !important; color:#D0525D !important; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}


/* Floating */
.Fleft{ float:left;}
.Fright{ float:right;}
.Fnone{ float:none !important;}



/* Display */
.DispBlock{ display:block;}
.DispTable{ display:table; vertical-align:middle;}
.DispTableCell{ display:table-cell; vertical-align:middle;}
.DispNone{ display:none;}
.DispInlBlock{display:inline-block;}



.BorderedBox{border:solid 1px #D9E3E8; background-color:#EDF3F6; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
             border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; margin-bottom:15px;}
.BottomBorderedBox{border-bottom:solid 1px #D9E3E8; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
                   border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; margin-bottom:15px;}

/* seperator line */
.Seperator{border-bottom:solid 1px #C3CCD5; width:100%; overflow:hidden; height:0px; margin:15px 0px; float:left;}

/* text colors */
.red{color:#D0525D;}
.blue{color:#33AFDE;}
.green{color:#5fcf80;}
.orange{color:#F7941E;}
.white{color:#F1F6F9;}
.softgray{color:#C3CCD5;}
.gray{color:#778D9B;}
.black{color:#3B3D3F;}
