/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/10/2015, 8:54:17 AM
    Author     : david
*/
 
@media all and (max-width: 599px) and (min-width: 320px) {
    .timetableSchedule  {
        font-size: 10px;
        height: 600px;
    }
    .bookingFormUpdate {
      font-size: 12px;  
    }
    .fc-day-grid-event > .fc-content {
        white-space: normal;
    }
    .timetableGmap {
        height: 300px;
        width: 100% !important ;

    }
 
}
@media all and (max-width: 1200px) and (min-width: 600px) {
    .timetableSchedule  {
        font-size: 12px;
        height: 800px;
    }
    .bookingFormUpdate {
      font-size: 12px;  
    }
    .fc-day-grid-event > .fc-content {
        white-space: normal;
    }
    .timetableGmap {
        height: 400px;
        width: 100% !important ;

    }
 
}
@media all and  (min-width: 1201px) {
    .timetableSchedule  {
        font-size: 14px;
        height: 1000px;
    }
    .bookingFormUpdate {
      font-size: 12px;  
    }
    .fc-day-grid-event > .fc-content {
        white-space: normal;
    }
    .timetableGmap {
        height: 500px;
        width: 100% !important ;

    }
 
}

.greenBg {
    background-color: green;
}
.blueBg {
    background-color: cyan;
}
.orangeBg {
    background-color: orange;
}
.redBg {
    background-color: red;
}


.signupForm {
    text-align: right;
    padding-right: 10px;
}  
.signupForm.signupFormLabel  {
    text-align: left;
} 



.cancellationDialogue{
    max-width: 400px;
}
.selectOneWidth {
    min-width:200px; width:220px;
}

.timetableGmap{
    width:80%; 
    max-width: 600px;
}
.timetableDataTable .ui-datatable .ui-datatable-header {
    background-color: #33AFDE !important;
    border-bottom: solid 1px #C6D6DF;
    border-top: solid 1px #C6D6DF;
   color: #FFFFFF;


}
div.timetableDataTable .ui-datatable table tbody .ui-state-highlight > td {
    background-color: #FFFFFF;
    color: #F1F6F9;
}
.myStatsChartsDatalist {
    border:none;
}

.social-icons span a {
    display: block;
    float:left;
    width: 37px;
    height: 37px;
    background: url(/FitnessStats/resources/templates/yoo_pace/images/tools/icons_social.png) 0 0 no-repeat;
}


.MarRL5 {
    margin-right: 5px;
    margin-left: 5px;
}
.MarRight5 {
    margin-right:  5px;
}
.MarRight10 {
    margin-right:  10px;
}
.MarRight15 {
    margin-right:  15px;
}
.TimetableTile{
    max-width:550px;
    min-width:150px !important ;
    min-height: 100% !important ;
}
#timetableDivider {
    background-color: #33AFDE;
}
.iFrameContainer {
    content:"";
    display:table;
    clear:both; 
    background-image:none;
    background-color: #ffffff;
    width: 97%;
    padding: 1% 1.5%;
    margin: 8px auto;
    overflow: hidden;
    float: left;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
    -moz-box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);
    box-shadow: 0px 1px 0px 0px rgba(159,172,183,0.7);

}

