
@import url(../templates/yoo_pace/css/base.css);
@import url(../templates/yoo_pace/css/layout.css);
@import url(../templates/yoo_pace/css/arial.css);
.wrapper { 
    max-width: 980px; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
}
.menu-dropdown a.level1 > span, .menu-dropdown span.level1 > span { width: 70px; }
#header, #block-main { margin-left: 0px; }
#maininner { width: 100%; }
#headerbar {
   background:  url(../images/logo.png) 50% 0 repeat-x; 
}

#page { background: #0e446a url(/FitnessStats/resources/images/background/ocean_bg.jpg) 50% 0 repeat-x; margin-top: 0px;}

#page-bg { background: url(/FitnessStats/resources/images/background/ocean_img.jpg) 50% 0 no-repeat; }

#block-main { 
    border-color: #c8dfe6;
    border-color: rgba(35,130,160,0.07);
    background-color: #e9f4f7;
    background-color: rgba(255,255,255,0.6);
}

#block-main > div {
    border-color: #deecf1;
    border-color: rgba(35,130,160,0.15);
}
.ui-widget {
font-family:  Arial,Lucida Grande, Lucida Sans, sans-serif;
font-size: 0.9em;
}


												
					
