<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RandomAccessFile name="glassfishLog4jAppender" fileName="/var/log/glassfish/fitnesscrm.log">
        <PatternLayout>
            <Pattern>%d{dd MMM yyyy HH:mm:ss,SSS} %p %F %L %t %c - %m%n</Pattern>
        </PatternLayout>
    </RandomAccessFile>
    </Appenders>
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="info"/>
    <Logger name="org.atmosphere" level="DEBUG" />
    <Logger name="org.primefaces" level="DEBUG" />
     <Root level="debug">
      <AppenderRef ref="STDOUT"/>
    </Root>
 </Loggers>
</Configuration>
