<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">
    <distributable/>
  
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>2048576</param-value>
    </context-param>
   <context-param>
        <param-name>javax.faces.ENABLE_CDI_RESOLVER_CHAIN</param-name>
        <param-value>true</param-value>
    </context-param>   
    <context-param>
        <param-name>javax.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
        <param-value>true</param-value>
    </context-param>
   <!-- <context-param>
        <param-name>primefaces.PUSH_SERVER_URL</param-name>
        <param-value>https://test-services.manlybeachfemalefitness.com.au/FitnessStats</param-value>
    </context-param>
    <data-source>
        <name>jdbc/fitness</name>
        
        <class-name>com.mysql.jdbc.jdbc2.optional.MysqlDataSource</class-name>
         <url>jdbc:mysql://localhost:3306/fitnessStats</url>
        <user>root</user>
        <password>Surf2day</password>
    </data-source>
     <data-source>
        <class-name>com.mysql.jdbc.jdbc2.optional.MysqlDataSource</class-name>
        <name>jdbc/fitness2</name>
        <url>jdbc:mysql://localhost:3306/fitnessStats</url>
        <user>root</user>
        <password>Surf2day</password>
     </data-source>
 <data-source>
        <class-name>com.mysql.jdbc.jdbc2.optional.MysqlDataSource</class-name>
        <name>jdbc/quartz</name>
        <url>jdbc:mysql://localhost:3306/fitnessStats</url>
        <user>root</user>
        <password>Surf2day</password>
    </data-source>-->

    <context-param>
        <param-name>primefaces.SUBMIT</param-name>
        <param-value>partial</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6Lf7awUTAAAAAMaawx8IS3dwud5yUtYqoc_ZhLq3</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6Lf7awUTAAAAAEqamzR4gFWaguCHj1ZhgRi7n6Zz</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>california-orange</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.SECRET</param-name>
        <param-value>YthnbfriuyYDS16dEw</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>native</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
        <param-value>false</param-value>
    </context-param>
    <!--  <context-param>
        <param-name>primefaces.PUSH_SERVER_URL</param-name>
        <param-value>http://localhost:8082</param-value>
    </context-param>-->
    <!-- <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>commons</param-value>
    </context-param>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
        <init-param>
            <param-name>thresholdSize</param-name>
            <param-value>51200</param-value>
        </init-param>
        <init-param>
            <param-name>uploadDirectory</param-name>
            <param-value>/tmp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/javax.faces.resource/*</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <listener>
        <description>Context Listener</description>
        <listener-class>au.com.manlyit.fitnesscrm.stats.classes.CrmContextListener</listener-class>
    </listener>
    <!--<listener>
        <description>Atmosphere Session Support Listener</description>
        <listener-class>org.atmosphere.cpr.SessionSupport</listener-class>
    </listener>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorJsf.xhtml</location>
    </error-page>-->
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/index.xhtml</location>
    </error-page>
    <session-config>
        <session-timeout>
            180
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.html</location>
    </error-page>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>ADMIN resources</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
            <role-name>DEVELOPER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint2</display-name>
        <web-resource-collection>
            <web-resource-name>My Details</web-resource-name>
            <description/>
            <url-pattern>/myDetails.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>My Details Mobile</web-resource-name>
            <description/>
            <url-pattern>/myDetailsMobile.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>My Stats Mobile</web-resource-name>
            <description/>
            <url-pattern>/myStatsMobile.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>My Sessions Mobile</web-resource-name>
            <description/>
            <url-pattern>/mySessionsMobile.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Customer Surveys</web-resource-name>
            <description/>
            <url-pattern>/customerSurveys.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>My Details Payment Method</web-resource-name>
            <description/>
            <url-pattern>/myDetailsPaymentMethod.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Update Password</web-resource-name>
            <description/>
            <url-pattern>/UpdatePassword.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>My Sessions</web-resource-name>
            <description/>
            <url-pattern>/mySessions.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Mobile Menu</web-resource-name>
            <description/>
            <url-pattern>/mobileMenu.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Index</web-resource-name>
            <description/>
            <url-pattern>/index.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>PushMessages</web-resource-name>
            <description/>
            <url-pattern>/javax.faces.push/*</url-pattern>
        </web-resource-collection>
        
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
            <role-name>DEVELOPER</role-name>
            <role-name>TRAINER</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint3</display-name>
        <web-resource-collection>
            <web-resource-name>TRAINER Resources</web-resource-name>
            <description/>
            <url-pattern>/trainer/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
            <role-name>TRAINER</role-name>
            <role-name>DEVELOPER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint4</display-name>
        <web-resource-collection>
            <web-resource-name>DEVELOPER</web-resource-name>
            <description/>
            <url-pattern>/dev/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>DEVELOPER</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>ptStatsRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/loginError.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>USER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TRAINER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>DEVELOPER</role-name>
    </security-role>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/font-sfnt</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot?#iefix</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exosemibold</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exobolditalic</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exomedium</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exoregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#fontawesomeregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>
</web-app>
